$class-photo-url: '../../img/Class-Photo.jpg';
$nss-red: #f0452d;
.class-photo {
    min-width: 100vh;
    height: auto;
    position: relative;
}

.top-nav-wrapper {
    background: url('https://raw.githubusercontent.com/nss-evening-cohort-05/E5-Class-Website/master/img/Class-Photo.jpg') no-repeat center center;
    background-size: cover;
    height: 700px;
    .navbar {
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        padding: 10px 20px;
        justify-content: space-between;
        .nav-left {
            align-self: left;
        }
        .nav-right {
            align-self: right;
            padding: 10px 0; //display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: right;
            align-items: right;
            a {
                color: $nss-red;
                text-decoration: none;
                margin: 0px 30px;
                white-space: nowrap
            }
        }
    }
    .e5-class-header {
        color: $nss-red;
        font-size: 1.5rem;
        white-space: nowrap
    }
}

.top {
    position: relative;
    margin: 0 auto;
    clear: left;
    height: auto;
    z-index: 0;
    text-align: center;
    h1 {
        display: inline-block;
        width: 50%;
        margin: 0 auto;
        font-family: 'Bungee Inline', cursive;
        font-size: 55px;
        color: $nss-red;
        background-color: #585858;
        border-radius: 0px 0px 5px 5px;
        border: 1px solid $nss-red;
        margin-bottom: 0;
        padding: 10px;
    }
    nav {
        margin: -1px 0 5% 0;
        text-align: center;
        a {
            display: inline-block;
            font-family: 'Bungee Inline', cursive;
            background-color: #585858;
            color: black;
            padding: 10px;
            margin: 0px -5px;
            &:hover {
                color: white;
            }
            &:hover,
            &:visited,
            &:active {
                text-decoration: none;
            }
        }
        .left-link{
            border-left: 1px solid $nss-red;
            border-bottom: 1px solid $nss-red;
            border-radius: 0px 0px 0px 5px;
        }
        .right-link{
            border-right: 1px solid $nss-red;
            border-bottom: 1px solid $nss-red;
            border-radius: 0px 0px 5px 0px;
        }
    }
}

.class-bio {
    //background-color: #f0452d;
    background-image: -webkit-linear-gradient(left, #f0452d 0%, #f26c2d 100%);
    background-image: linear-gradient(to right, #f0452d 0%, #f26c2d 100%);
    color: white;
}

.technologies {
    text-align: right;
    padding: 10px;
}

.tech-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px;
    img {
        height: 100px;
        width: 100px;
        margin: 10px;
    }
    .entity-logo {
        height: 100px;
        width: auto;
    }
}

.student-wrapper {
    padding: 10px;
}

#studentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.student-card {
    width: 300px;
    margin: 5px;
    flex-grow: 1;
}

.icon-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    a:hover {
        text-decoration: none;
    }
    img {
        height: 50px;
        width: 50px;
    }
    .linkedin-logo {
        height: 45px;
        width: 45px;
    }
}

@media screen and (max-width: 1160px) {
    .top {
        h1 {
            font-size: 35px;
            padding: 5px;
        }
        nav {
            a {
                font-size: 10px;
            }
        }
    }
}